/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nanum+Gothic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Emilys+Candy&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Emilys Candy", serif;
  --font-serif: "Cinzel Decorative", serif;

  --color-maroon: #800000;
  --color-wine: #581845;
  --color-gold: #D4AF37;
  --color-beige: #F5F5DC;
  --color-cream: #FFFDD0;
}

@layer base {
  body {
    @apply font-sans bg-white text-zinc-900;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
